.navbar1 {
    background-color: #D5E4E6;

}

  .navbar .navbar-nav .nav-link {
    background-color: #D5E4E6;
    color: #818181;
    border-radius: .25rem;
    align-content: center;
    margin-right: .5cm;
}



  
  